<%= form_tag create_session_path, class: "form-group" do %>
  <div class="form-inline">
    <div class="col-sm-12 form-group"></br>
      <div class="row">
        <label for="name" class="control-label col-sm-2">name</label>
        <%= text_field_tag(:name, nil, { placeholder: "john smith", class: "col-sm-3", id: "name" })  %>
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="col-sm-12 form-group"></br>
      <div class="row">
        <label for="email" class="control-label col-sm-2">email</label>
        <%= text_field_tag(:email, nil, { placeholder: "example@example.com", class: "col-sm-3", id: "email", type: "email" })  %>
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="col-sm-12 form-group"></br>
      <div class="row">
        <label for="password" class="control-label col-sm-2">password</label>
        <%= password_field_tag(:password, nil, { id: "password", class: "col-sm-3", type: "password" })  %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3 submit-wrap"></br>
      <%= submit_tag "submit", class: "btn btn-default submit" %>
    </div>
  </div>
<% end %>
