<div class="row list-header-text">
  <%= @product.name %>
</div>
<div class="row show-details">
  <div class="col-sm-2">
    <%= image_tag(@product.image, class: "show-image") %>
  </div>
  <div class="col-sm-10">
    <div class="row">
      <%= @product.category %>
    </div>
    <div class="row">
      <%= "$ " + @product.price.to_s %>
    </div>
    <div class="row">
      <%= @product.quantity.to_s + " in stock" %>
    </div>
    <div class="row description">
      <%= @product.description %>
    </div>
  </div>
</div>
<%= react_component("ProductShowBar", { data: @product }) %>
