<!DOCTYPE html>
<html>
<head>
  <title>Storeapp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-6 header header-text">
      The Grey Market
    </div>
    <div class="col-sm-4 header flash">
        <% if @current_user %>
          <%= "hello, #{@current_user.name}" %>
        <% else %>
          <%= " " %>
        <% end %>
      </div>
    <div class="col-sm-2 header sidebar">
        <% if flash[:notice] || flash[:alert] %>
          <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, { class: "flash #{name}" }) %>
          <% end %>
        <% else %>
          <div class="row header"> </div>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <%= yield %>
    </div>
    <div class="col-sm-2 sidebar">
      <%= react_component("Navigation", { userID: @current_user.id, logged_in: session[:user_id] }) %>
    </div>
</div>

</body>
</html>
